

.Messages{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.message.from-me .username{
    display: none;
}
.message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  .message.from-me .message-body {
    background-color: #b3da93;
    color: rgb(83, 81, 81);
  }
  
  .message {
    margin-bottom: 20px;
  }
  .message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    background-color: #F96167;
    color: #FCE778;
    border: 1px;
    border-radius: 5px;
    padding-right: 50px;
  }
  
  .username {
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(73, 69, 69);
    margin-bottom: 5px;
  }
  .sendBar {
      display: flex;
      
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  .sendBar > input {
    width: 100%;
    padding: 10px;
    
  }
  